
.games-list {
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-around;
    flex-wrap: wrap;
}


.games-unit {
  width: 150px;
  border: 15px solid green;
  margin: 20px;
}

.games-unit + .games-unit {
  margin-right: 2%;
}